.a{
	background-color: white;
	height: 350px;
	width: 1350px;

}
.b{
	background-color: skyblue;
	height: 300px;
	width: 1350px;

}
.l{
	height: 70px;
	width: 1350px;
	color: white;
	font-size: 30px;
}
.m{
	height: 200px;
	width: 1350px;
}

.n{
	height: 20px;
	width: 1350px;
}
.c{
	background-color: white;
	height: 350px;
	width: 1350px;

}
.g{
	height: 350px;
	width: 250px;
	float: left;

}
.h{
	height: 350px;
	width: 800px;
	float: left;
}
.i{
	height: 350px;
	width: 250px;
	float: right;
}
.d{
	background-color: skyblue;
	height: 250px;
	width: 1350px;

}
.j{
	height: 250px;
	width:250px ;
	float: left;
}
.k{
	height: 250px;
	width: 400px;
	float: left;
}
.r{
	height: 250px;
	width: 400px;
	float: left;
	padding-left: 20px;
}
.s{
	height: 250px;
	width: 250px;
	float: right;
}
.e{
	background-color: white;
	height: 220px;
	width: 1350px;

}
.u{
	height: 220px;
	width: 200px;
	float: left;
}
.v{
	height: 220px;
	width: 300px;
	float: left;
}
.w{
	height: 220px;
	width: 600px;
	float: left;
}
.p{
	height: 220px;
	width: 200px;
	float: right;
}
.x{
	height: 350px;
	width: 700px;
	float: left;
}
.y{
	height: 350px;
	width: 600px;
	float: right;
}
.z{
	color: orange;
	font-size: 50px;
	padding:;
}
.ab{
	height: 150px;
	width: 250px;
	background-color: skyblue;
	float: left;
}
.cd{
	height: 150px;
	width: 835px;
	background-color: skyblue;
	float: left;
	color: white;
	font-size: 30px;
}
.ef{
	height: 150px;
	width: 250px;
	background-color: skyblue;
	float: right;
}
.gm{
	color: white;
	font-size: 15px;
}

.ba{
	height: 350px;
	width: 250px;
	background-color: white;
	float: left;
}
.dc{
	height: 350px;
	width: 835px;
	background-color: white;
	float: left;
}
.fe{
	height: 350px;
	width: 250px;
	background-color: white;
	float: right;
}
.wx{
	height: 350px;
	width: 420px;
	float: left;
}
.yz{
	height: 350px;
	width: 415px;
	float: right;
	color: lightblue;
	font-size: 40px;
}
.as{
	color: black;
	font-size: 15px;
}